<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">

        {% csrf_token %}

        <p>Name <input type="text" name="name" placeholder="Name"></p>
        <p>Price <input type="number" name="price" placeholder="Price"></p>
        <p>Company</p>
        <select name="company">
        {% for company in companies %}

            <option value="{{ company.id }}">{{ company.name }}</option>


        {% endfor %}
        </select>

        <div><button>Add new product</button></div>

    </form>
</body>
</html>